@model IEnumerable<Kalkulator.Models.CalculatorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="col-md-16">
    <form asp-action="Show">
        <p>
            <a asp-action="Index" class="btn btn-primary">Return to Calculations</a>
        </p>

        <table class="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Operation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value1)
                        </td>
                        <td>
                            <a asp-action="ShowByOperation" asp-route-id="@item.Operation"> @Html.DisplayFor(modelItem => item.Operation)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <input type="submit" value="Addition" name="command" class="btn btn-primary" />
        <input type="submit" value="Substract" name="command" class="btn btn-primary" />
        <input type="submit" value="Multiply" name="command" class="btn btn-primary" />
        <input type="submit" value="Divide" name="command" class="btn btn-primary" />
        <input type="submit" value="Modulo" name="command" class="btn btn-primary" />
        <input type="submit" value="All" name="command" class="btn btn-primary" />
    </form>
</div>

